<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alxnophis.jetpack.home">

    <application>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"
            android:theme="@style/CoreTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jetpackproject"
                    android:scheme="app" />
            </intent-filter>
        </activity>
    </application>

</manifest>
